html{
	background-color: white;
	color: black;
	padding: none;
	margin: none;
}
div{
	/*border: 1px solid black;*/
}
canvas{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
	/*position: absolute;*/
	/*top: 0%;           */
	/*left: 0%;          */
	/*width: 100%;       */
	/*height: 100%;      */
	/*padding: 5px;      */
	display: flex;
	justify-content: space-between;
}

.span_unreachable{
	color: red;
	display: none;
	font-style: italic;
	margin-left: 15px;
	margin-right: 15px;
}
@keyframes blinker{  
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
.btn{
	width: 1rem;
	vertical-align: middle;
	box-shadow: 2px 2px rgba(25, 25, 25, 125);
}
.btn:active{
	box-shadow: none;
}
.btn_refresh{
	float: right;
	background-color: rgb(125,125,255);
}
.btn_picktargetpos{
	margin-left: 5px;
	animation: blinker steps(2, jump-none) 750ms infinite;
}
.btn_ok{
	font-style: bold;
	margin-right: 0;
	background-color: rgb(125,255,125);
}
.btn_cancel{
	font-style: bold;
	margin-left: 0;
	background-color: rgb(255,125,125);
}

#div_data{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div_tank{
	margin: 10px;
}
#div_tanks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#div_msg{
	max-height: 500px;
	overflow-y: scroll;
}
