html{
	background-color: white;
	color: black;
	padding: none;
	margin: none;
}
div, canvas{
	/*border: 1px solid black;*/
}
body{
	/*position: absolute;*/
	/*top: 0%;           */
	/*left: 0%;          */
	/*width: 100%;       */
	/*height: 100%;      */
	/*padding: 5px;      */
	display: flex;
	justify-content: space-between;
}

.btn_refresh{
	width: 1rem;
	float: right;
	background-color: rgb(125,125,255);
}
.btn_ok{
	font-style: bold;
	margin-right: 0;
	width: 1rem;
	background-color: rgb(125,255,125);
}
.btn_cancel{
	font-style: bold;
	margin-left: 0;
	width: 1rem;
	background-color: rgb(255,125,125);
}

#div_data{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#btn_addtank{
}
.div_tank{
	margin: 10px;
}
#div_tanks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
